.col-sm-6{
    margin-top: 13px !important;
}

.card{
    border-radius: 3.25rem;
}
.btn{
    margin-left: 9px;
}

div.botonCenter{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.modal.dialog{
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.custom-class {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .imgPokemon{
        width: 135px;
        height: 135px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .imgPokemon{
        width: 65px;
        height: 65px;
    }  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .imgPokemon{
        width: 80px;
        height: 80px;
    }  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .imgPokemon{
        width: 90px;
        height: 90px;
    } 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .imgPokemon{
        width: 135px;
        height: 135px;
    }
}